body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
progress {
    -webkit-appearance: none;
}
progress::-webkit-progress-bar-value {
    -webkit-appearance: none;
    background: orangered;
}

.outerContainer {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
